{% extends "./_base.html" %}
{% block content %}
<div class="container">
  <div class="row justify-content-start align-self-center">
    <div class="col-xs-3 m-3">
      <a class="btn btn-outline-secondary"
	 href="{% url 'rq_create' %}">Set a New Queue</a>
    </div>
    <div class="col-xs-3 m-3">
      <form name="rq_do" action="{% url 'rq_do'%}" method="POST">
	{% csrf_token %}
	<input type="hidden" id="rq_do_mode" name="rq_do_mode" value="all">
	<input class="btn-primary" type="submit" value="reRetweet all">
      </form>
      <div id="rq_do_result"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-sm-6">
      <h4>リリツイートタスク</h4>

      <div class="container"> <!-- Original tweets -->
	{% if not retweetqueue_list %}<p>タスクは登録されていません</p>{% endif %}
	{% for queue in retweetqueue_list %}
	<div class="card queue_{{ queue.pk }}">
	  <div class="card-body">
	    <h5 class="card-title">
	      <img class="mr-3" style="height:1.5rem"
		   src="{{ queue.profile_image_url_https }}"/>
	      {{ queue.user_name }}
	      <span class="text-muted" style="font-size:0.5rem">
		@{{ queue.screen_name }}</span></h5>
	    <p class="card-text">{{ queue.text }}</p>
	    <p class="card-text"><small class="text-muted">
	      <span>{{ queue.last_retweeted_at }}</span>
	      <span class="badge badge-pill badge-info">
		RT</span>{{ queue.retweet_count }}
	      <span class="badge badge-pill badge-danger">
		Like</span>{{ queue.favorite_count }}
	      <span>{{ queue.retweeted }}</span>
	      <span><a class="float-right text-muted"
		       href="https://twitter.com/{{ queue.user_name }}/status/{{ queue.status_id }}">{{ queue.created_at }}</a></span>
	    </small></p>
	    <div class="card-text">
	      <div class="container">
		<div class="row justify-content-between">
		  <div class="col-2">
		    <div class="running-trigger_{{ queue.pk }}">
		      {% if queue.running == True %}
		      <button class="badge badge-primary running-on float-left"
			      name="{{ queue.pk }}">On</button>
		      {% else %}
		      <button class="badge badge-light running-off float-left"
			      name="{{ queue.pk }}">Off</button>
		      {% endif %}
		    </div>
		  </div>
		  <div class="col-4">
		    <div class="border rounded">
		      <span class="priority float-left badge">
			{{ queue.priority }}</span>
		      <span class="up float-left badge">Up</span>
		      <span class="down float-left badge">Down</span>
		    </div>
		  </div>
		  <div class="col-4">
		    <div>
		      <a class="badge-info" style="font-size:0.7rem;"
			 href="{% url 'rq_detail' queue.id %}">Detail</a>
		      <a class="badge-success"  style="font-size:0.7rem;"
			 href="{% url 'rq_update' queue.id %}">Update</a>
		      <a class="badge-danger" style="font-size:0.7rem;"
			 href="{% url 'rq_delete' queue.id %}">Delete</a>
		    </div>
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
	{% endfor %}
      </div>
    </div>


    <div class="col-sm-6">
      <h4>ユーザータイムライン<small><button class="reload">更新</button></small></h4>
      <div class="container"> <!-- User timeline -->
	<div class="tl-cards">
	  {% for t in timeline %}
	  <div class="card tweet_{% if t.retweeted_status %}{{ t.retweeted_status.id }}{% else %}{{ t.id }}{% endif %}">
	    <div class="card-body">
	      {% if t.retweeted_status %}
	      <h5 class="card-title">
		<img class="mr-3" style="height:1.5rem"
		     src="{{ t.retweeted_status.user.profile_image_url_https }}"/>
		{{ t.retweeted_status.user.name }}
		<span class="text-muted" style="font-size:0.5rem">
		  @{{ t.retweeted_status.user.screen_name }}</span></h5>
	      {% else %}
	      <h5 class="card-title">
		<img class="mr-3" style="height:1.5rem"
		     src="{{ t.user.profile_image_url_https }}"/>
		{{ t.user.name }}
		<span class="text-muted" style="font-size:0.5rem">
		  @{{ t.user.screen_name }}</span></h5>
	      {% endif %}

	      <p class="card-text">{{ t.text }}</p>
	      <p class="card-text"><small class="text-muted">
		<span class="badge badge-pill badge-info">RT</span>
		{{ t.retweet_count }}
		<span class="badge badge-pill badge-danger">Like</span>
		{{ t.favorite_count }}
		<a class="float-right text-muted" href="https://twitter.com/{% if t.retweeted_status %}{{ t.retweeted_status.user.screen_name }}{% else %}{{ t.user.screen_name }}{% endif %}/status/{{ t.id }}">
		  {{ t.created_at }}</a>
	      </small></p>
	    </div>
	    {% if t.entities.media %}
	    {% for m in t.entities.media %}
	    <img class="card-img-bottom" style="width:50%" src="{{ m.media_url_https }}" alt="">
	    {% endfor %}
	    {% endif %}
	    <div class="card-text">
	      <small><div align="left">
		<button class="btn btn-secondary add-queue" name="{% if t.retweeted_status %}{{ t.retweeted_status.id }}{% else %}{{ t.id }}{% endif %}"><</button>
		タスクに追加
	      </div></small>
	    </div>
	  </div>
	  {% endfor %}
	</div>
	<div>
	  <button class="see_more" name="{{ tl_count }}">See more</button>
	</div>
      </div>
    </div>

  </div>
</div>

{% endblock %}


{% block script %}
<script>
 $('form').submit( function(event){
   event.preventDefault();
   var form = $(this);
   $.ajax({
     url: form.prop('action'),
     method: form.prop('method'),
     data: form.serialize()+"&user_id={{ user_id }}",
     timeout: 10000,
     dataType: 'text',
   })
    .done(function(data){
      $('#rq_do_result').text(data);
    })
 });
</script>
<script>
 $(document).on('click', 'button.add-queue', function(event){
   let request ={ status_id : $(this).prop('name'),};
   $.ajax({
     url: '{% url "add_queue" %}',
     method: 'POST',
     data: request,
     datatype:'json',
     success: function(data){
       location.reload();
     }
   })
 });
</script>
<script>
 $(document).on('click', 'button.running-on',function(event){
   let request = { pk : $(this).prop('name'), };
   $.ajax({
     url: '{% url "run_trigger" %}',
     method: 'POST',
     data: request,
     success: function(data){
       $("div.running-trigger_"+request.pk).html('<button class="badge badge-light running-off float-left" name="'+request.pk+'">Off</button>');
     }
   })
 });
 $(document).on('click', 'button.running-off',function(event){
   let request = { pk : $(this).prop('name'), };
   $.ajax({
     url: '{% url "run_trigger" %}',
     method: 'POST',
     data: request,
     success: function(data){
       $("div.running-trigger_"+request.pk).html('<button class="badge badge-primary running-on float-left" name="'+request.pk+'">On</button>');
     }
   })
 });
</script>
<script> <!-- on click reload -->
 $(document).on('click', 'button.reload', function(event){ location.reload();});
</script>
<script> <!-- See More Link -->
 $(document).on('click', 'button.see_more', function(event){
   let request = { count : $(this).prop('name'),};
   $.ajax({
     url: '{% url "tl_see_more" %}',
     method:'POST',
     data: request,
     datatype: 'json',
     async: true,
     timeout: 10000,
     success: function(data){
       for (let i = 0, l = data.length; i < l; i++) {
	 $('div.tl-cards').append('<div class="card tweet_'+data[i].id+'"><div class="card-body">' + '<h5 class="card-title"><img class="mr-3" style="height:1.5rem" src="'+data[i].profile_image_url_https+'"/>'+data[i].name+'<span class="text-muted" style="font-size:0.5rem">@'+data[i].screen_name+'</span></h5><p class="card-text">'+data[i].text+'</p><p class="card-text"><small class="text-muted"><span class="badge badge-pill badge-info">RT</span>'+data[i].retweet_count+'<span class="badge badge-pill badge-danger">Like</span>'+data[i].favorite_count+'<a class="float-right text-muted" href="https://twitter.com/'+data[i].screen_name+'/status/'+data[i].id+'">'+data[i].created_at+'</a></small></p></div>' + '<img class="card-img-bottom" style="width:50%" src="{{ m.media_url_https }}" alt="">' + '<div class="card-text"><small><div align="left"><button class="btn btn-secondary add-queue" name="'+data[i].id+'"><</button>タスクに追加</div></small></div></div></div>');
       }
       $('button.see_more').attr('name',parseInt(request.count)+parseInt(data.length));
     }
   })
 });
</script>
{% endblock %}
