{% extends "./_base.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-4">author:</div>
    <div class="col-sm-8">{{ object.user_name }}</div>
  </div>
  <div class="row">
    <div class="col-sm-4">created_at:</div>
    <div class="col-sm-8">{{ object.created_at }}</div>
  </div>
  <div class="row">
    <div class="col-sm-4">last_retweeted_at:</div>
    <div class="col-sm-8">{{ object.last_retweeted_at }}</div>
  </div>
  <div class="row">
    <div class="col-sm-4">retweet_count:</div>
    <div class="col-sm-8">{{ object.retweet_count }}</div>
  </div>
  <div class="row">
    <div class="col-sm-4">favorite_count:</div>
    <div class="col-sm-8">{{ object.favorite_count }}</div>
  </div>
  <div class="row">
    <div class="col-sm-4">object.retweeted:</div>
    <div class="col-sm-8">{{ object.retweeted }}</div>
  </div>
  <div class="row">
    <div class="col-sm-4">text:</div>
    <div class="col-sm-8">{{ object.text }}</div>
  </div>
</div>
{% endblock %}
