{% extends "./_base.html" %}
{% block content %}
<br>
<br>

<div class="container">
  <div class="row border-bottom m-2">
    <h2>TaMaTo<small>(Twitter account Manager Tools)</small></h2>
  </div>
  <div class="row">
    <div class="col-2">version:0.3.20190308a</div>
    <div class="col-4"></div>
  </div>
</div>

<br>
<br>

<div class="container">
  <div class="row border-bottom m-2">
    <h2>基本データベースの更新</h2>
  </div>
  <div class="row justify-content-center">
    <div class="col-2">データベースを更新</div>
    <div class="col-4"><a href="{% url 'tuc' %}">更新</a></div>
    <div class="w-100"></div>
    <div class="col-2">最新更新日</div>
    <div class="col-4">
      {{ recent_recode.modified_at|date:"Y年n月j日(D) G:i:s"}}</div>
  </div>
</div>

<br>
<br>

<div class="container">
  <div class="row border-bottom m-2">
    <h2>機能</h2>
  </div>
  <div class="row">
    <div class="col-3 p-1">
      <a href="{% url 'tw_user' 'followers' %}"
	 class="btn btn-primary btn-lg">
	Twitter Users List (FollowerRanking)</a>
    </div>
    <div class="col-3 p-1">
      <a href="{% url 'stats' %}"
	 class="btn btn-primary btn-lg">
	Users Statistics</a>
      まだまだ開発中
    </div>
    <div class="col-3 p-1">
      <a href="{% url 'actedusers' %}"
	 class="btn btn-primary btn-lg">
	ActingUsers (Fol,Rep,RT,Fav)</a>
    </div>
    <div class="col-3 p-1">
      <a href="{% url 'rqs' %}"
	 class="btn btn-primary btn-lg">
	Re-Retweet Queues</a>
    </div>
  </div>
</div>

<br>
<br>

<div class="container">
  <div class="row border-bottom m-2">
    <h2>ログイン中のユーザー</h2>
  </div>
  <div class="row">
    <div class="col-2">
      <p><b>ScreenName:</b></p>
    </div>
    <div class="col-2">
      <p><a href="https://twitter.com/{{ user.access_token.screen_name}}">{{ user.access_token.screen_name }}</a></p>
    </div>
  </div>
  <p>user.user_id:{{ user.user_id }}</p>
  <p>user.id:{{ user.id }}</p>
</div>


<div class="container">
  <div class="row border-bottom m-2">
    <h2>リンク</h2>
  </div>
  <h4>Analyzer</h4>
  <p><a href="https://analytics.twitter.com/about">Twiiter Analytics</a></p>
  <p><a href="https://hootsuite.com/">Hootsuite</a></p>
  <p><a href="https://followerwonk.com/">Followerwonk</a></p>
  <p><a href="https://sproutsocial.com/features/social-media-analytics/">sproutsocial</a></p>
  <p><a href="http://www.tweetstats.com/">tweetstats</a></p>
  <h4>Client</h4>
  <p><a href="https://tweetdeck.twitter.com/">TweetDeck</a></p>
</div>
{% endblock %}


{% block script %}
{% endblock %}
