{% extends "./_base.html" %}
{% block content %}
<div>
  <div class='message'>
    このボタンで更新プログラムが実行されます。 ==>
    <button class="btn btn-primary construct">更新</button>
  </div>
  <p class="message">しばらくお待ち下さい。約1000件（フォロワーとフレンドの合計数）で１分位かかります。それでも異常に長く画面が切り替わらない場合があります。その時は左上の「TaMaTo」をクリックして、トップページに戻ってください。更新履歴が表示されて入れば、処理は終わっています。</p>
</div>

<table class="table table-striped">
  <h3>History</h3>
  <thead>
    <tr>
      <th>modified_at</th>
      <th>proccess_time</th>
      <th>c_count</th>
      <th>u_count</th>
    </tr>
  </thead>
  <tbody>
    {% for recode in recodes  %}
    <tr>
      <td>{{ recode.modified_at }}</td>
      <td>{{ recode.p_time }}</td>
      <td>{{ recode.created_count }}</td>
      <td>{{ recode.updated_count }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block script %}
<script>
 $(document).on('click', 'button.construct', function(event){
   $('div.message').html('<div class="message spinner-border" role="status"><span class="sr-only">Loading...</span></div>');
   $.ajax({
     url: '{% url "tuc" %}',
     method: 'POST',
     data:{},
     timeout: 10000,
     datatype:'json',
     async: true,
     success: function(){
       $('div.message').html('<div class="message">更新が終わりました。<a href="/user/top">トップページ</a>に移ってください。</div>');
       $('p.message').html('')
     }
   })
 });
</script>
{% endblock %}
