{% extends "./_base.html" %}
{% block content %}
<div>
  <form id="tw_user_construct" method="POST">
    {% csrf_token %}
    このボタンで更新プログラムが実行されます。 ->
    <input id="bottom", type="submit" value="submit" />
  </form>
  <p>しばらくお待ち下さい。約4000件（フォロワーとフレンドの合計数）で１分位かかります。</p>
</div>
<table class="table table-striped">
  <h3>History</h3>
  <thead>
    <tr>
      <th>modified_at</th>
      <th>proccess_time</th>
      <th>created_count</th>
      <th>updated_count</th>
    </tr>
  </thead>
  <tbody>
    {% for recode in recodes  %}
    <tr>
      <td>{{ recode.modified_at }}</td>
      <td>{{ recode.p_time }}</td>
      <td>{{ recode.created_count }}</td>
      <td>{{ recode.updated_count }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block script %}
<script>
 $("form#tw_user_construct").on('click',function(event){
   $(this).html('<div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div>');
 });
</script>
{% endblock %}
