{% extends "./_base.html" %}
{% block title %}{{ mode }} - TaMaTo{% endblock %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="container">
  <div class="row m-1 p-1">
    <div class="col-sm m-1">
      <a class="btn btn-block btn-primary" href="{% url 'tw_user' 'followers' %}">Followers</a>
    </div>
    <div class="col-sm m-1">
      <a class="btn btn-block btn-primary" href="{% url 'tw_user' 'friends' %}">Friends</a>
    </div>
    <div class="col-sm m-1">
      <a class="btn btn-block btn-primary" href="{% url 'tw_user' 'fol_not_in_fri' %}">Followers not in Friends</a>
    </div>
    <div class="col-sm m-1">
      <a class="btn btn-block btn-primary" href="{% url 'tw_user' 'fri_not_in_fol' %}">Friends not in Followers</a>
    </div>
  </div>
</div>

<div class="container p-0">
  {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>&nbsp;
    {% else %}
    <li class="disabled"><span>&laquo;</span></li>&nbsp;
    {% endif %}
    {% for i in paginator.page_range %}
    {% if page_obj.number == i %}
    &nbsp;<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>&nbsp;
    {% else %}
    &nbsp;<li><a class="border" href="?page={{ i }}">&nbsp;{{ i }}&nbsp;</a></li>&nbsp;
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    &nbsp;<li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
    &nbsp;<li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
  {% endif %}

  {% for user in object_list %}
  <div class="card mb-3 card_{{ user.user_id }}" style="width: 100%;">
    <div class="row no-gutters">
      <div class="col-1 align-self-center text-center">
	{{ count_pre_page|add:forloop.counter }}
      </div>
      <div class="col-md-3 align-self-center">
	<div class="">
	  <a href="https://twitter.com/{{ user.screen_name }}" target="_blank">
	    <img class="card-img mx-auto d-block" src="{{ user.profile_image_url }}" style="height:64px; width:64px;"/>
	  </a>
	</div>
      </div>
      <div class="col-md-8">
	<div class="card-body">
          <h5 class="card-title">{{ user.name }}
	  {% if user.protected is True %}
	  <img src={% static '/protected.png' %} />
	  {% endif %}</h5>

          <p class="card-text">
	    <span class="badge badge-pill badge-info">T</span>
	    <span class="statuses_count">{{ user.statuses_count|intcomma }}</span>
	    <span class="badge badge-pill badge-primary"><</span>
	    <span class="followers_count">{{ user.followers_count|intcomma }}</span>
	    <span class="badge badge-pill badge-info">></span>
	    <span class="friends_count">{{ user.friends_count|intcomma }}</span>
	    <span class="badge badge-pill badge-info">L</span>
	    <span class="favorites_count">{{ user.favourites_count|intcomma }}</span>
	  </p>
          <p class="card-text">
	    <small class="text-muted">
	      <div class="description" style="font-size:0.8rem">
		{{ user.description|truncatechars:200 }}</div>
	    </small>
	  </p>
	</div>
      </div>
    </div>
    <div class="card-footer text-muted">
      {% if user.following == False %}
      <div class="follow_{{ user.user_id }}">
	<button style="font-size:12px"
		class="btn btn-primary float-left follow"
		name="{{ user.user_id }}">
	  follow</button>
      </div>
      {% else %}
      <div class="unfollow_{{ user.user_id }}">
	<button style="font-size:12px"
		class="btn btn-outline-secondary float-left unfollow"
		name="{{ user.user_id }}">
	  unfollow</button>
      </div>
      {% endif %}

      {% if user.followed == True %}
      <div class="float-left pl-3 pr-3"
	   style="font-size:0.8rem">
	フォロー<br>されています○
      </div>
      {% else %}
      <div class="float-left pl-3 pr-3"
	   style="font-size:0.8rem">
	フォロー<br>されていません✗
      </div>
      {% endif %}

      <div class="update_{{ user.user_id }}">
	<button style="font-size:12px;"
		class="btn btn-info float-left update"
		name="{{ user.user_id }}">
	  update</button>
      </div>

      {% if user.neglect == False %}
      <div class="neglect_{{ user.user_id }}">
	<button style="font-size:12px"
		class="btn btn-danger float-right neglect"
		name="{{ user.user_id }}">
	  neglect</button>
      </div>
      {% else %}
      <div class="respect_{{ user.user_id }}">
	<button style="font-size:12px"
		class="btn btn-success float-right respect"
		name="{{ user.user_id }}">
	  respect</button>
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}

  {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>&nbsp;
    {% else %}
    <li class="disabled"><span>&laquo;</span></li>&nbsp;
    {% endif %}
    {% for i in paginator.page_range %}
    {% if page_obj.number == i %}
    &nbsp;<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>&nbsp;
    {% else %}
    &nbsp;<li><a class="border" href="?page={{ i }}">&nbsp;{{ i }}&nbsp;</a></li>&nbsp;
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    &nbsp;<li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
    &nbsp;<li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
  {% endif %}

</div>
<div class="container">
  <a href="{% url 'tw_user' 'neglected' %}" class="btn btn-light">Neglected List</a>
</div>
{% endblock %}

{% block script %}
<script>
 $(document).on('click', '.follow', function(event) {
   let request = { user_id : $(this).prop('name'),};
   $.ajax({
     url: '{% url "tw_follow" %}',
     method: 'POST',
     contentType: "application/x-www-form-urlencoded; charset=UTF-8",
     data: request,
     async: true,
     timeout: 10000,
     datatype: 'json',
     success: function(data) {
       $( 'div.follow_'+data.user_id ).html('<button style="font-size:12px" class="btn btn-outline-secondary float-left unfollow" name="'+data.user_id+'">unfollow</button>');
       $( 'div.follow_'+data.user_id ).attr('class','unfollow_'+data.user_id);
     }
   })
 });

 $(document).on('click', '.unfollow', function(event) {
   let request = { user_id : $(this).prop('name'),};
   $.ajax({
     url: '{% url "tw_unfollow" %}',
     method: 'POST',
     contentType: "application/x-www-form-urlencoded; charset=UTF-8",
     data: request,
     async: true,
     timeout: 10000,
     datatype: 'json',
     success: function(data) {
       $( 'div.unfollow_'+data.user_id ).html('<button style="font-size:12px" class="btn btn-primary float-left follow" name="'+data.user_id+'">follow</button>');
       $( 'div.unfollow_'+data.user_id ).attr('class','follow_'+data.user_id);
     }
   })
 });
</script>
<script>
 $(document).on('click', '.neglect', function(event){
   let request = { user_id : $(this).prop('name'),};
   $.ajax({
     url:'{% url "tw_neglect" %}',
     method: 'POST',
     contentType: "application/x-www-form-urlencoded; charset=UTF-8",
     data: request,
     async: true,
     timeout: 10000,
     datatype: 'json',
     success: function(data){
       $(".card_"+data.user_id).html('');
     }
   })
 });

 $(document).on('click', '.respect', function(event){
   let request = { user_id : $(this).prop('name'),};
   $.ajax({
     url:'{% url "tw_respect" %}',
     method: 'POST',
     contentType: "application/x-www-form-urlencoded; charset=UTF-8",
     data: request,
     async: true,
     timeout: 10000,
     datatype: 'json',
     success: function(data){
       $("div.respect_"+data.user_id).html('<button style="font-size:12px" class="btn btn-danger float-right neglect" name="'+data.user_id+'">neglect</button>');
       $("div.respect_"+data.user_id).attr('class','neglect_'+data.user_id);
     }
   })
 });
</script>
<script>
 $(document).on('click', '.update', function(event){
   let request = {user_id : $(this).prop('name'),};
   $.ajax({
     url:'{% url "tw_update" %}',
     method:'POST',
     contentType: "application/x-www-form-urlencoded; charset=UTF-8",
     data: request,
     async: true,
     timeout: 10000,
     datatype: 'json',
     success: function(data){
       $("div.update_"+data.user_id).html('<button style="font-size:12px" class="btn float-left updated" name="'+data.user_id+'">updated</button>');
       $("div.update_"+data.user_id).attr('class','updated_'+data.user_id);
       $("div.card_"+data.user_id+" div.descriptioin").text(data.description);
       $("div.card_"+data.user_id+" span.statuses_count").text(data.statusess_count);
       $("div.card_"+data.user_id+" span.followers_count").text(data.followers_count);
       $("div.card_"+data.user_id+" span.friends_count").text(data.friends_count);
       $("div.card_"+data.user_id+" span.listed_count").text(data.listed_count);
     }
   })
 });
</script>
{% endblock %}
